body {
    margin: 0;
    background-color: #141427;
    color: white;
}

/* Navbar */
header {
    background-color: #0e0e1b;
    padding: 0.2rem;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 4vw;
    padding: 0 1.2rem;
    margin: 12px;
}

nav ul li {
    padding: 1.8vh 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff4747;
}

/* Search Bar Styling */
.search-bar {
    display: flex;
    align-items: right;
    margin-left: auto;
    background-color: #1a1a25;
    border-radius: 5px;
    padding: 0.5rem;
    max-width: 46%;
    min-width: 24%;
  }
  
  .search-bar input {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #0e0e1b;
    color: white;
    font-size: 1rem;
    outline: none;
    width: 20vw;
  }
  
  .search-bar button {
    padding: 0.5rem 1rem;
    background-color: #ff4747;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 0.86rem;
    cursor: pointer;
    margin-left: 0.5rem;
  }
  
  .search-bar button:hover {
    background-color: #e63e3e;
  }
  

/* Sections */
main {
    padding: 0 2rem;
}

section {
    margin-bottom: 3rem;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 1.6rem;
    text-align: left;
}

/* Grid Layout */
.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2vw;
}
.grid-item {
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
    border: 0.1rem solid white;
}

.grid-item:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.7);
    border: 0.2rem solid #e63e3e;
}

.grid-item-cover {
    width: 100%;
}

.grid-item img {
    width: 100%;
    
}

.grid-item-title {
    margin: 0rem;
}

.grid-item h3 {
    font-size: 1.2vw;
}

.show-more, .collapse {
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #ff4747;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
  }
  
  .show-more:hover, .collapse:hover {
    background-color: #e63e3e;
  }
