body {
    margin: 0;
    background-color: #141427;
    color: white;
}

/* Navbar */
header {
    background-color: #0e0e1b;
    padding: 0.2rem;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 4vw;
    padding: 0 1.2rem;
    margin: 12px;
}

nav ul li {
    padding: 1.8vh 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff4747;
}

/* Search Bar Styling */
.search-bar {
    display: flex;
    margin-left: auto;
    background-color: #1a1a25;
    border-radius: 5px;
    padding: 0.5rem;
    max-width: 46%;
    min-width: 24%;
  }
  
  .search-bar input {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #0e0e1b;
    color: white;
    font-size: 1rem;
    outline: none;
    width: 20vw;
  }
  
  .search-bar button {
    padding: 0.5rem 1rem;
    background-color: #ff4747;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 0.86rem;
    cursor: pointer;
    margin-left: 0.5rem;
  }
  
  .search-bar button:hover {
    background-color: #e63e3e;
  }
  

/* Sections */
main {
    padding: 0 2rem;
}

section {
    margin-bottom: 3rem;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 1.6rem;
    text-align: left;
}

/* Grid Layout */
.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2vw;
}
.grid-item {
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
    border: 0.1rem solid white;
}

.grid-item:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.7);
    border: 0.2rem solid #e63e3e;
}

.grid-item-cover {
    width: 100%;
}

.grid-item img {
    width: 100%;
    
}

.grid-item-title {
    margin: 0rem;
}

.grid-item h3 {
    font-size: 1.2vw;
}

.show-more, .collapse {
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #ff4747;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
}
  
.show-more:hover, .collapse:hover {
    background-color: #e63e3e;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
}
  
.modal-content {
    margin: 10vh auto;
    padding: 2rem;
    background-color: #141427;
    border: 1px solid #ccc;
    width: 74%;
    height: 74%;
    border-radius: 8px;
    position: relative;
}

#modal-details {
    display: block;
    gap: 4vw;
    overflow: scroll;
    height: 100%;
}

.modal-media {
    display: flex;
    flex-direction: row;
    gap: 4vw;
}
  
.modal-cover {
    align-items: flex-start;
    width: 24%;
    height: 70%;
}

.modal-cover img {
    width: 100%;
}

.modal-info {
    margin-left: auto;
    align-content: end;
    width: 64%;
    padding: 1rem 2rem;
}

.modal-title h1 {
    font-size: 2.4rem;
}

.modal-title p {
    margin: 0;
    padding: 0;
}
  
.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.modal.visible {
    display: flex;
}

/*.season-info {
    margin-top: 1rem;
    background-color: #1f1f1f;
    padding: 1rem;
    border-radius: 10px;
}
  
.season-info img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 1rem;
}
*/

.seasons-menu{
    padding: 0.8rem 0;
}

select {
    background-color:#30303d ;
    color: white;
    padding: 0.5rem;
    border: 0px;
    border-radius: 2px;
    font-size: 18px;
}
option {
    padding: 5px;
    background-color:#30303d;
    }

.episode-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.episode {
    display: flex;
    flex-basis: 46%;
    align-items: flex-start;
    background-color: #30303d;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.episode-info {
    display: block;
    justify-content: space-between;
    padding-left: 2rem;
}

.episode img {
    width: 36%;
    object-fit: cover;
    border-radius: 5px;
    flex-shrink: 0;
}

.episode h4, .episode p {
    font-size: 1rem;
    text-align: left;
    margin: 0;
    padding-bottom: 0.4rem;

}

