*, html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
    scroll-behavior: smooth !important;
  }

body {
    background-color: #141427;
    color: white;
}

/* Navbar */
header {
    background-color: #0e0e1b;
    padding: 0.2rem;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 4vw;
    padding: 0 1.2rem;
    margin: 12px;
}

nav ul li {
    padding: 1.8vh 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff4747;
}

/* Search Bar Styling */
.search-bar {
    display: flex;
    margin-left: auto;
    background-color: #1a1a25;
    border-radius: 5px;
    padding: 0.5rem;
    max-width: 46%;
    min-width: 24%;
  }
  
  .search-bar input {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #0e0e1b;
    color: white;
    font-size: 1rem;
    outline: none;
    width: 20vw;
  }
  
  .search-bar button {
    padding: 0.5rem 1rem;
    background-color: #ff4747;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 0.86rem;
    cursor: pointer;
    margin-left: 0.5rem;
  }
  
  .search-bar button:hover {
    background-color: #e63e3e;
  }
  

/* Sections */
main {
    padding: 1rem 2rem;
}

section {
    margin-bottom: 3rem;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 1.6rem;
    text-align: left;
}

/* Grid Layout */

.grid-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap: 1vw;
    justify-content: center;
}

/* .grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2vw;
    border: 2px solid red;
} */

.grid-item {
    display: flex;
    flex-direction: column;
    width: 14vw;
    height: 24vw ;
    aspect-ratio: 1 / 1.695;
    text-align: center;
    border-radius: 10px;
    transition: padding 0.5s, box-shadow 0.3s ease-in;
    padding: 0.7rem;
    border: 2px solid #99999660;
    /* transform: scale(0.90); */
    transition: transform 0.3s, box-shadow 0.3s, border 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    /* box-shadow: 0 10px 24px rgba(0, 0, 0, 0.7); */
}

/* 
.grid-item:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 24px rgb(8, 8, 22);
    border: 2px solid #9999d6c4;
}
 */
.grid-item img {
    border-radius: 10px;
    aspect-ratio: 1 / 1.50227;
    object-fit: fill;
    width: 100%;
}

.grid-item-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 17%;
    text-align: left;
    margin: auto 0;
}

.grid-item-info h4 {
    font-size: 0.96vw;
    max-width: 85%;
}

.grid-item-info p {
    font-size: 0.88vw;
    width: 100%;
    margin-top: auto;
}

.show-more, .collapse {
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #ff4747;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
}
  
.show-more:hover, .collapse:hover {
    background-color: #e63e3e;
}

#discover-streaming {
    margin: 2rem 0;
    text-align: center;
}

  
.tab-menu {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding-left: 2rem;
    margin: 0 1rem;
}
  
.tab {
    background-color: #141427;
    color: #888;
    padding: 10px 20px;
    border: 0px solid #aaa;
    border-bottom: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s, border-radius 0.3s;
}
  
.tab.active {
    background-color: #30303d;
    color: white;
    font-weight: bold;
    border: 1px solid white;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
}
  
.tab:hover {
    color: white;
    background-color: #4a4a69;
    border-radius: 5px 5px 0 0;
}

.tab-items {
    border: 2px solid white;
    border-radius: 10px;
    padding: 1rem;
    margin: 0 2rem;
}

.media-switch {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem;
    width: 20vh;
    border-radius: 6px;
    overflow: hidden;
    outline: 2px solid #aaa;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.media-tab {
    min-width: 50%;
    padding: 10px 5px;
    background-color: #141427;
    color: #aaa;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border: none;
}

.media-tab.active {
    background-color: #30303d;
    color: white;
    border: none;
    font-weight: bold;
}

.media-tab:hover {
    background-color: #4a4a69;
}

/* 
input[type="radio"] + label:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    background-color: #fff;
} */
  
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    backdrop-filter: blur(10px);
    transition: backdrop-filter 0.3s ease;
    background-color: rgba(20, 20, 39, 0.37); /* Semi-transparent background */
}

.modal-content {
    position: relative;
    width: 68%;
    height: 80%;
    padding: 2rem;
    margin: 10vh auto;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #141427;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

#modal-details {
    display: block;
    gap: 4vw;
    overflow: scroll;
    height: 100%;
    border-radius: 5px;
}


.modal-media {
    height: 80%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.modal-cover {
    height: 100%;
    aspect-ratio: 1 / 1.5;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

}

.modal-cover img {
    width: 100%;
    border-radius: 5px;
}

.modal-info{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-between;
    gap: 0.8rem;
    width: 100%;
}

.modal-info img {
    flex: none;
    max-width: 55%;
    max-height: 40%;
    align-self: flex-start;
    object-fit: contain;

}

.modal-info p {
    width: 100%;
    padding-right: 20%;
    height:fit-content;
}

.watch-btn {
    padding: 0.6rem 1.2rem;
    font-size: 1.2rem;
    background-color: #4a4a69;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.watch-btn:hover {
    transition: background-color 1s ease;
    background-color: #383852;
}

/*.season-info {
    margin-top: 1rem;
    background-color: #1f1f1f;
    padding: 1rem;
    border-radius: 10px;
}
  
.season-info img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 1rem;
}
*/

.seasons-menu{
    padding: 0.8rem 0;
}

select {
    background-color:#30303d ;
    color: white;
    border: 0px;
    font-size: 18px;
    padding: 0.8rem;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}
option {
    padding: 5px;
    background-color:#30303d;
    }

.episode-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    margin: 0 auto;
}

.episode-container::after {
    content: "";
    min-width: calc((100% - 1rem) / 2);
}


.episode {
    min-width: 40%;
    flex: 1;
    background-color: #30303d;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}


.episode-items {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-between;
    gap: 1rem;
}

.episode-items img {
    flex: none;
    width: 45%;
    min-height: 100%;
    aspect-ratio: 16 /9;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}


.episode-info {
    flex: inherit;
    align-content: center;
}

.episode-info h3, .episode-info p {
    text-align: left;
    margin: 0.2rem 0;
}

.episode-items p:nth-child(3) {
    width: 100%;
}


/* player */

.watch-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #141427;
    color: white;
  }

  
  .player-container {
    position: relative;
    margin-top: 2vh;
    width: 76%;
    aspect-ratio: 16 / 9;
    box-shadow: 0 0 26px rgba(0, 0, 0, 0.76);
  }
  

  .loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #30303d;
    color: white;
    font-size: 1.5rem;
    z-index: 10;
  }
  
iframe {
    width: 100%;
    height: 100%;
}