@media (max-width: 767px) {
    :root {
        --border-radius1: 5px;
        --border-radius2: 5px;
    }

    nav ul {
        padding: 0 0.6rem;
    }

    .search-bar {
        max-width: 60dvw;
    }

    main {
        padding: 9.6vh 0 0 0;
    }
    
    section {
        padding: 0 0.6rem 0 0.6rem;
        max-width: 100%;
    }

    section h2 {
        font-size: 22px;
    }

    .grid-container {
        display: flex;
        flex-direction: row;
        overflow: scroll;
        justify-content: space-between;
        gap: 0.6dvh;
        padding: 0 0 0.5rem 0rem;
    }
    
    .grid-item {
        aspect-ratio: 1 / 1.54;
        min-width: 42vw;
        max-width: 42vw;
        height: auto ;
        padding: 0.48rem;
        border-radius: var(--border-radius2);
        /* box-shadow: 0 10px 24px rgba(0, 0, 0, 0.7); */
    }

    .grid-item:hover {
        transform: scale(0.96);
        box-shadow: 0 2px 5px rgb(8, 8, 22);
    }

    .grid-item-info p {
        font-size: 11.6px;
        line-height: 12.6px;
    }

    .grid-item-info p:nth-child(1) {
        max-width: 87%;
        overflow: hidden;   
        text-overflow: ellipsis;
        height: 65%;
        margin-bottom: auto;
    }

    .grid-item-info p:nth-child(2) {
        max-width: 12%;
    }
    
    .grid-item-info p:nth-last-child(1) {
        font-size: 10px;
        margin-top: auto;
    }


    #search-results {
        margin: 0.4rem 0 0 0;
        border: none;
    }

    #search-results h1 {
        font-size: 22px;
        margin: 0.4rem 0 0.6rem 0.6rem;
    }
    
    #search-results > section {
        margin: 0.8rem 0;
        gap: 0.6rem;
        justify-content: flex-start;
    }
    
    #search-results > section > h3 {
        font-size: 20px;
        display: block;
        width: 100%;
    }

     .profile-item {
        height: 20dvh;
        border-radius: var(--border-radius1);
        padding: 0.4rem 0.4rem 0.2rem;
        /* box-shadow: 0 10px 24px rgba(0, 0, 0, 0.7); */
    }

    .profile-item:hover{
        transform: scale(0.96);
        box-shadow: 0 4px 8px rgb(8, 8, 22);
    }
    
    .profile-item img {
        height: auto;
        aspect-ratio: 1 / 1.1;
        object-position: 0 30%;
    }
    

    .profile-item-info p {
        font-size: 11px;
        line-height: 12.8px;
    }
 

    .tab-menu {
        padding: 0 0.8rem;
    }


    .tab {
        width: 100%;
        align-content: center;
        padding: 4px;
        border-radius: var(--border-radius2) var(--border-radius2) 0 0;
        font-size: 11px;
        line-height: 13px;
        transition: padding 0.3s, background-color 0.3s, color 0.3s, border-radius 0.3s;
    }
      
    .tab.active {
        padding: 4px 8px;
        border-radius: var(--border-radius2) var(--border-radius2) 0 0;
    }
      
    .tab:hover {
        color: var(--font-color1);
        background-color: #4a4a69;
        border: 1px solid #383852c4;
        border-bottom: none;
        border-radius: var(--border-radius2) var(--border-radius2) 0 0;
    }
    
    .tab-items {
        border: 1px solid #3838528c;
        border-radius: var(--border-radius1);
        padding: 0.6rem;
    }


    .media-switch {
        min-width: 38%;
        margin-bottom: 0.6rem;
    }

    .media-tab {
        font-size: 11px;
    }




    .modal-content {
        width: 92%;
        height: 72%;
        padding: 0.8rem;
    }


    .modal-media {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.8rem;
    }
    
    
    .modal-cover {
        display: none;
/*         margin: 0 auto;
        width: 35%;
        height: fit-content; */
    }

    .modal-info img {
        margin: 2rem auto;
        max-width: 60dvw;
        max-height: 13dvh;
    }

    .modal-info p {
        padding-right: 5%;
        height:fit-content;
        font-size: 12px;
    }

    
    .seasons-menu{
        padding: 0.8rem 0;
    }

    select {
        font-size: 14px;
        padding: 0.4rem;
    }

    .episode {
        min-width: 100%;
        padding: 0.6rem;
    }

    .episode-items {
        gap: 0.6rem;
    }

    .episode-info h3 {
        font-size: 12px;
        margin: 0.24rem 0;
        line-height: 13px;
    }
    
    .episode-items p {
        font-size: 11px;
        line-height: 12px;
    }

    .watch-page {
        height: 90.4dvh;
        background-color: #141427;
        color: var(--font-color1);
        padding: 0rem;
        justify-content: flex-end;
    }
    
    .watch-page h2 {
        font-size: 22px;
        margin: 1rem auto 1rem 0.6rem;
        align-content: flex-start;
    }

    .player-container {
        width: 100%;
        margin: 0;
        align-content: flex-start;
    }

    .player {
        width: 100%;
        height: 40vh;
        max-height: 100%;
        border-radius: 0;
        box-shadow: none;
    }

    .iframe-container {
        padding: 3vh 0;
    }

    .loading {
        height: calc(100% - 4.8vh);
    }

    .player-toolbar {
        width: 100%;
        height: 5.2vh;
        background-color: #222233;
        border-radius: 0;
        align-content: center;
    }
  }